.titleCss {
    color: #1976d2;
    text-align: center;
    font-size: xx-large;
    font-family: Roboto;
}

.employeeList {
	margin: auto;
}

.bookImage {
	margin: 0px 2px;
    display: inline-block; /* ここがポイント */
    height: 80px;
}

.filterChkbox {
    margin-left: 3px;
    margin-right: 3px;
}
